[package]
name = "solana_libra_storage_client"
version = "0.0.0-sol9"
authors = ["Solana Maintainers <maintainers@solana.com>", "Libra Association <opensource@libra.org>"]
repository = "https://github.com/solana-labs/libra"
homepage = "https://solana.com/"
description = "Solana Libra storage_client"
license = "Apache-2.0"
publish = false
edition = "2018"

[dependencies]
futures = { version = "0.3.0-alpha.13", package = "futures-preview", features = ["compat"] }
futures_01 = { version = "0.1.25", package = "futures" }
grpcio = { version = "0.4.4", default-features = false, features = ["protobuf-codec"] }
protobuf = "2.7"

canonical_serialization = { path = "../../common/canonical_serialization", package = "solana_libra_canonical_serialization", version = "0.0.0-sol9" }
crypto = { path = "../../crypto/legacy_crypto", package = "solana_libra_crypto", version = "0.0.0-sol9" }
failure = { path = "../../common/failure_ext", package = "solana_libra_failure_ext", version = "0.0.0-sol9" }
metrics = { path = "../../common/metrics", package = "solana_libra_metrics", version = "0.0.0-sol9" }
proto_conv = { path = "../../common/proto_conv", package = "solana_libra_proto_conv", version = "0.0.0-sol9" }
scratchpad = { path = "../scratchpad", package = "solana_libra_scratchpad", version = "0.0.0-sol9" }
state_view = { path = "../state_view", package = "solana_libra_state_view", version = "0.0.0-sol9" }
storage_proto = { path = "../storage_proto", package = "solana_libra_storage_proto", version = "0.0.0-sol9" }
types = { path = "../../types", package = "solana_libra_types", version = "0.0.0-sol9" }
