[package]
name = "solana_libra_vm"
version = "0.0.0-sol15"
authors = ["Solana Maintainers <maintainers@solana.com>", "Libra Association <opensource@libra.org>"]
repository = "https://github.com/solana-labs/libra"
homepage = "https://solana.com/"
description = "Solana Libra vm"
license = "Apache-2.0"
edition = "2018"

[dependencies]
byteorder = "1.3.2"
hex = "0.3.2"
proptest = "0.9"
proptest-derive = "0.1.1"
lazy_static = "1.3.0"
crypto = { path = "../../crypto/legacy_crypto", package = "solana_libra_crypto", version = "0.0.0-sol15" }
failure = { path = "../../common/failure_ext", package = "solana_libra_failure_ext", version = "0.0.0-sol15" }
proptest_helpers = { path = "../../common/proptest_helpers", package = "solana_libra_proptest_helpers", version = "0.0.0-sol15" }
types = { path = "../../types", package = "solana_libra_types", version = "0.0.0-sol15" }
mirai-annotations = "^1.2.2"

[features]
mirai-contracts = []
