[package]
name = "solana_libra_functional_tests"
version = "0.1.0"
authors = ["Libra Association <opensource@libra.org>"]
description = "Libra functional_tests"
repository = "https://github.com/libra/libra"
homepage = "https://libra.org"
license = "Apache-2.0"
edition = "2018"

[dependencies]
failure = { path = "../../common/failure_ext", package = "solana_libra_failure_ext" }
solana_libra_ir_to_bytecode_syntax = { path = "../compiler/ir_to_bytecode/syntax" }
solana_libra_ir_to_bytecode = { path = "../compiler/ir_to_bytecode" }
solana-libra-stdlib = { path = "../stdlib" }
solana-libra-types = { path = "../../types" }
solana-libra-vm = { path = "../vm" }
solana_libra_bytecode_verifier = { path = "../bytecode_verifier" }
solana_libra_language_e2e_tests = { path = "../e2e_tests" }
solana-libra-config = { path = "../../config" }
filecheck = "0.4.0"
lazy_static = "1.3.0"
regex = { version = "1.3.0", default-features = false, features = ["std", "perf"] }

[dev-dependencies]
solana-libra-types = { path = "../../types", features = ["testing"] }
solana-libra-datatest-stable = { path = "../../common/datatest-stable" }

[[test]]
name = "testsuite"
harness = false
