[package]
name = "solana_libra_crypto"
version = "0.0.1-sol5"
authors = ["Libra Association <opensource@libra.org>"]
description = "Libra crypto"
repository = "https://github.com/libra/libra"
homepage = "https://libra.org"
license = "Apache-2.0"
edition = "2018"

[dependencies]
bincode = "1.1.1"
byteorder = "1.3.2"
bytes = "0.4.12"
curve25519-dalek = { version = "1.2.3", default-features = false }
digest = "0.8.1"
ed25519-dalek = { version = "1.0.0-pre.3", features = ["serde"], default-features = false }
hex = "0.3"
hmac = "0.7.1"
lazy_static = "1.3.0"
pairing = "0.14.2"
proptest = "0.9.1"
proptest-derive = "0.1.0"
rand = "0.7.0"
serde = { version = "1.0.96", features = ["derive"] }
sha2 = "0.8.0"
sha3 = "0.8.2"
threshold_crypto = "0.3"
tiny-keccak = "1.5.0"
x25519-dalek = { version = "0.6.0", default-features = false }

solana_libra_crypto-derive = { path = "../crypto_derive", version = "0.0.1-sol5" }
failure = { path = "../../common/failure_ext", version = "0.0.1-sol5", package = "solana_libra_failure_ext" }
solana_libra_nibble = { path = "../../common/nibble", version = "0.0.1-sol5" }
solana_libra_canonical_serialization = { path = "../../common/canonical_serialization", version = "0.0.1-sol5" }

[dev-dependencies]
bitvec = "0.10.1"
byteorder = "1.3.2"
ripemd160 = "0.8.0"

[features]
default = ["std", "u64_backend"]
testing = ["std", "u64_backend"]
std = ["curve25519-dalek/std", "ed25519-dalek/std", ]
u64_backend = ["curve25519-dalek/u64_backend", "ed25519-dalek/u64_backend", "x25519-dalek/u64_backend"]
