[package]
name = "solana-libra-executor"
version = "0.1.0"
authors = ["Libra Association <opensource@libra.org>"]
license = "Apache-2.0"
publish = false
edition = "2018"

[dependencies]
backoff = { version = "0.1.5", default-features = false }
solana-libra-config-builder = { path = "../../config/config-builder" }
futures = { version = "=0.3.0-alpha.19", package = "futures-preview" }
itertools = { version = "0.8.0", default-features = false }
lazy_static = { version = "1.3.0", default-features = false }
rusty-fork = { version = "0.2.2", default-features = false }
serde = { version = "1.0.99", default-features = false }

solana_libra_canonical_serialization = { path = "../../common/canonical_serialization" }
solana-libra-config = { path = "../../config" }
solana-libra-crypto = { path = "../../crypto/crypto" }
failure = { path = "../../common/failure_ext", package = "solana_libra_failure_ext" }
solana-libra-logger = { path = "../../common/logger" }
solana-libra-metrics = { path = "../../common/metrics" }
solana-libra-prost-ext = { path = "../../common/prost-ext" }
solana-libra-scratchpad = { path = "../../storage/scratchpad" }
solana_libra_state_view = { path = "../../storage/state_view" }
solana_libra_storage_client = { path = "../../storage/storage_client" }
solana-libra-types = { path = "../../types" }
solana_libra_vm_runtime = { path = "../../language/vm/vm_runtime" }

[dev-dependencies]
grpcio = { version = "=0.5.0-alpha.4", default-features = false }
proptest = "0.9.2"
rand = "0.6.5"
rusty-fork = "0.2.1"

solana-libra-config = { path = "../../config", features = ["testing"]}
solana_libra_grpc_helpers = { path = "../../common/grpc_helpers" }
solana-libra-types = { path = "../../types", features = ["testing"]}

solana_libra_storage_proto = { path = "../../storage/storage_proto" }
solana-libra-storage-service = { path = "../../storage/storage-service" }
solana_libra_vm_genesis = { path = "../../language/vm/vm_genesis" }
solana_libra_transaction_builder = { path = "../../language/transaction_builder" }
