[package]
name = "solana_libra_executor"
version = "0.0.0-sol5"
authors = ["Solana Maintainers <maintainers@solana.com>", "Libra Association <opensource@libra.org>"]
license = "Apache-2.0"
publish = false
edition = "2018"

[dependencies]
backoff = "0.1.5"
futures = { version = "=0.3.0-alpha.17", package = "futures-preview" }
itertools = "0.8.0"
lazy_static = "1.3.0"

config = { path = "../../config", package = "solana_libra_config", version = "0.0.0-sol5" }
crypto = { path = "../../crypto/legacy_crypto", package = "solana_libra_crypto", version = "0.0.0-sol5" }
execution_proto = { path = "../execution_proto", package = "solana_libra_execution_proto", version = "0.0.0-sol5" }
failure = { path = "../../common/failure_ext", package = "solana_libra_failure_ext", version = "0.0.0-sol5" }
logger = { path = "../../common/logger", package = "solana_libra_logger", version = "0.0.0-sol5" }
metrics = { path = "../../common/metrics", package = "solana_libra_metrics", version = "0.0.0-sol5" }
proto_conv = { path = "../../common/proto_conv", package = "solana_libra_proto_conv", version = "0.0.0-sol5" }
scratchpad = { path = "../../storage/scratchpad", package = "solana_libra_scratchpad", version = "0.0.0-sol5" }
state_view = { path = "../../storage/state_view", package = "solana_libra_state_view", version = "0.0.0-sol5" }
storage_client = { path = "../../storage/storage_client", package = "solana_libra_storage_client", version = "0.0.0-sol5" }
types = { path = "../../types", package = "solana_libra_types", version = "0.0.0-sol5" }
vm_runtime = { path = "../../language/vm/vm_runtime", package = "solana_libra_vm_runtime", version = "0.0.0-sol5" }
vm_genesis = { path = "../../language/vm/vm_genesis", package = "solana_libra_vm_genesis", version = "0.0.0-sol5" }

[dev-dependencies]
grpcio = { version = "0.4.4", default-features = false, features = ["protobuf-codec"] }
proptest = "0.9.2"
rusty-fork = "0.2.1"

storage_proto = { path = "../../storage/storage_proto", package = "solana_libra_storage_proto", version = "0.0.0-sol5" }
storage_service = { path = "../../storage/storage_service", package = "solana_libra_storage_service", version = "0.0.0-sol5" }
