[package]
name = "solana_libra_executor"
version = "0.1.0"
authors = ["Libra Association <opensource@libra.org>"]
license = "Apache-2.0"
publish = false
edition = "2018"

[dependencies]
backoff = "0.1.5"
futures = { version = "=0.3.0-alpha.17", package = "futures-preview" }
itertools = "0.8.0"
lazy_static = "1.3.0"

config = { path = "../../config", package = "solana_libra_config" }
crypto = { path = "../../crypto/legacy_crypto", package = "solana_libra_crypto" }
execution_proto = { path = "../execution_proto", package = "solana_libra_execution_proto" }
failure = { path = "../../common/failure_ext", package = "solana_libra_failure_ext" }
logger = { path = "../../common/logger", package = "solana_libra_logger" }
metrics = { path = "../../common/metrics", package = "solana_libra_metrics" }
proto_conv = { path = "../../common/proto_conv", package = "solana_libra_proto_conv" }
scratchpad = { path = "../../storage/scratchpad", package = "solana_libra_scratchpad" }
state_view = { path = "../../storage/state_view", package = "solana_libra_state_view" }
storage_client = { path = "../../storage/storage_client", package = "solana_libra_storage_client" }
types = { path = "../../types", package = "solana_libra_types" }
vm_runtime = { path = "../../language/vm/vm_runtime", package = "solana_libra_vm_runtime" }
vm_genesis = { path = "../../language/vm/vm_genesis", package = "solana_libra_vm_genesis" }

[dev-dependencies]
grpcio = { version = "0.4.4", default-features = false, features = ["protobuf-codec"] }
proptest = "0.9.2"
rusty-fork = "0.2.1"

storage_proto = { path = "../../storage/storage_proto", package = "solana_libra_storage_proto" }
storage_service = { path = "../../storage/storage_service", package = "solana_libra_storage_service" }
