[package]
name = "solana_libra_transaction_builder"
version = "0.1.0"
authors = ["Libra Association <opensource@libra.org>"]
license = "Apache-2.0"
edition = "2018"

[dependencies]
solana-libra-config = { path = "../../config" }
solana-libra-crypto = { path = "../../crypto/crypto" }
solana_libra_ir_to_bytecode = { path = "../compiler/ir_to_bytecode" }
lazy_static = "1.3.0"
solana-libra-stdlib = { path = "../stdlib" }
solana-libra-types = { path = "../../types" }
solana-libra-vm = { path = "../vm" }

[dev-dependencies]
solana-libra-types = { path = "../../types", features = ["testing"]}

[features]
testing = ["solana-libra-types/testing", "solana-libra-crypto/testing"]
