[package]
name = "solana_libra_consensus"
version = "0.0.0-sol12"
authors = ["Solana Maintainers <maintainers@solana.com>", "Libra Association <opensource@libra.org>"]
repository = "https://github.com/solana-labs/libra"
homepage = "https://solana.com/"
description = "Solana Libra consensus"
license = "Apache-2.0"
publish = false
edition = "2018"

[dependencies]
byteorder = "1.3.2"
bytes = "0.4.12"
grpcio = { version = "0.4.3", default-features = false, features = ["protobuf-codec"] }
futures = { version = "=0.3.0-alpha.17", package = "futures-preview", features = ["io-compat", "compat"] }
futures_locks = { version = "=0.3.0", package = "futures-locks", features=["tokio"]}
mirai-annotations = "^1.2.2"
num-traits = "0.2"
num-derive = "0.2"
proptest = "0.9"
protobuf = "2.7"
rand = "0.6.5"
serde = { version = "1.0.96", features = ["derive"] }
tokio = "0.1.22"
termion = "1.5.3"
lazy_static = "1.3.0"
rmp-serde = "0.13.7"

canonical_serialization = { path = "../common/canonical_serialization", package = "solana_libra_canonical_serialization", version = "0.0.0-sol12" }
channel = { path = "../common/channel", package = "solana_libra_channel", version = "0.0.0-sol12" }
config = { path = "../config", package = "solana_libra_config", version = "0.0.0-sol12" }
crypto = { path = "../crypto/legacy_crypto", package = "solana_libra_crypto", version = "0.0.0-sol12" }
nextgen_crypto = { path = "../crypto/nextgen_crypto", package = "solana_libra_nextgen_crypto", version = "0.0.0-sol12" }
execution_proto = { path = "../execution/execution_proto", package = "solana_libra_execution_proto", version = "0.0.0-sol12" }
failure = { path = "../common/failure_ext", package = "solana_libra_failure_ext", version = "0.0.0-sol12" }
grpc_helpers = { path = "../common/grpc_helpers", package = "solana_libra_grpc_helpers", version = "0.0.0-sol12" }
logger = { path = "../common/logger", package = "solana_libra_logger", version = "0.0.0-sol12" }
mempool = { path = "../mempool", package = "solana_libra_mempool", version = "0.0.0-sol12" }
metrics = { path = "../common/metrics", package = "solana_libra_metrics", version = "0.0.0-sol12" }
network = { path = "../network", package = "solana_libra_network", version = "0.0.0-sol12" }
proto_conv = { path = "../common/proto_conv", package = "solana_libra_proto_conv", version = "0.0.0-sol12" }
schemadb = { path = "../storage/schemadb", package = "solana_libra_schemadb", version = "0.0.0-sol12" }
storage_client = { path = "../storage/storage_client", package = "solana_libra_storage_client", version = "0.0.0-sol12" }
storage_proto = { path = "../storage/storage_proto", package = "solana_libra_storage_proto", version = "0.0.0-sol12" }
tools = { path = "../common/tools", package = "solana_libra_tools", version = "0.0.0-sol12" }
types = { path = "../types", package = "solana_libra_types", version = "0.0.0-sol12" }

[dependencies.prometheus]
version  = "0.4.2"
default-features = false
features = ["push"]

[build-dependencies]
build_helpers = { path = "../common/build_helpers", package = "solana_libra_build_helpers", version = "0.0.0-sol12", optional = true }

[dev-dependencies]
cached = "0.8.1"
tempfile = "3.1.0"
parity-multiaddr = "0.4.0"
rusty-fork = "0.2.1"

config_builder = { path = "../config/config_builder", package = "solana_libra_config_builder", version = "0.0.0-sol12" }
execution_service = { path = "../execution/execution_service", package = "solana_libra_execution_service", version = "0.0.0-sol12" }
storage_service = { path = "../storage/storage_service", package = "solana_libra_storage_service", version = "0.0.0-sol12" }
vm_genesis = { path = "../language/vm/vm_genesis", package = "solana_libra_vm_genesis", version = "0.0.0-sol12" }
vm_validator = { path = "../vm_validator", package = "solana_libra_vm_validator", version = "0.0.0-sol12" }

[dev-dependencies.nextgen_crypto]
features = ["testing"]
path = "../crypto/nextgen_crypto"
version = "0.0.0-sol12"
package = "solana_libra_nextgen_crypto"

[dev-dependencies.types]
features = ["testing"]
path = "../types"
version = "0.0.0-sol12"
package = "solana_libra_types"

[features]
default = []
build-proto = ["build_helpers"]
