[package]
name = "solana_libra_socket_bench_server"
version = "0.0.0-sol14"
authors = ["Solana Maintainers <maintainers@solana.com>", "Libra Association <opensource@libra.org>"]
repository = "https://github.com/solana-labs/libra"
homepage = "https://solana.com/"
description = "Solana Libra socket_bench_server"
license = "Apache-2.0"
publish = false
edition = "2018"

[dependencies]
bytes = "0.4.12"
futures = { version = "=0.3.0-alpha.17", package = "futures-preview", features = ["async-await", "nightly", "io-compat", "compat"] }
futures_01 = { version = "0.1.25", package = "futures" }
parity-multiaddr = "0.4.0"
structopt = "0.2.15"
tokio = "0.1.22"
unsigned-varint = { version = "0.2.2", features = ["codec"] }

failure = { path = "../../common/failure_ext", package = "solana_libra_failure_ext", version = "0.0.0-sol14" }
logger = { path = "../../common/logger", package = "solana_libra_logger", version = "0.0.0-sol14" }
memsocket = { path = "../memsocket", package = "solana_libra_memsocket", version = "0.0.0-sol14" }
netcore = { path = "../netcore", package = "solana_libra_netcore", version = "0.0.0-sol14" }
noise = { path = "../noise", package = "solana_libra_noise", version = "0.0.0-sol14" }
