[package]
name = "solana_libra_compiler"
version = "0.0.1-sol3"
authors = ["Libra Association <opensource@libra.org>"]
description = "Libra compiler"
repository = "https://github.com/libra/libra"
homepage = "https://libra.org"
license = "Apache-2.0"
edition = "2018"

[dependencies]
solana_libra_bytecode_verifier = { path = "../bytecode_verifier", version = "0.0.1-sol3" }
failure = { path = "../../common/failure_ext", version = "0.0.1-sol3", package = "solana_libra_failure_ext" }
solana_libra_ir_to_bytecode = { path = "ir_to_bytecode", version = "0.0.1-sol3" }
solana_libra_stdlib = { path = "../stdlib", version = "0.0.1-sol3" }
solana_libra_types = { path = "../../types", version = "0.0.1-sol3" }
solana_libra_vm = { path = "../vm", version = "0.0.1-sol3" }
structopt = "0.3.2"
serde_json = "1.0.40"

[dev-dependencies]
solana_libra_types = { path = "../../types", version = "0.0.1-sol3", features = ["testing"] }
