[package]
name = "solana_libra_compiler"
version = "0.0.0-sol6"
authors = ["Solana Maintainers <maintainers@solana.com>", "Libra Association <opensource@libra.org>"]
repository = "https://github.com/solana-labs/libra"
homepage = "https://solana.com/"
description = "Solana Libra compiler"
license = "Apache-2.0"
edition = "2018"

[dependencies]
bytecode_verifier = { path = "../bytecode_verifier", package = "solana_libra_bytecode_verifier", version = "0.0.0-sol6" }
failure = { path = "../../common/failure_ext", package = "solana_libra_failure_ext", version = "0.0.0-sol6" }
ir_to_bytecode = { path = "ir_to_bytecode", package = "solana_libra_ir_to_bytecode", version = "0.0.0-sol6" }
stdlib = { path = "../stdlib", package = "solana_libra_stdlib", version = "0.0.0-sol6" }
types = { path = "../../types", package = "solana_libra_types", version = "0.0.0-sol6" }
vm = { path = "../vm", package = "solana_libra_vm", version = "0.0.0-sol6" }
log = "0.4.7"
structopt = "0.2.15"
serde_json = "1.0.40"
