[package]
name = "solana-libra-compiler"
version = "0.1.0"
authors = ["Libra Association <opensource@libra.org>"]
description = "Libra compiler"
repository = "https://github.com/libra/libra"
homepage = "https://libra.org"
license = "Apache-2.0"
publish = false
edition = "2018"

[dependencies]
solana_libra_bytecode_verifier = { path = "../bytecode_verifier" }
failure = { path = "../../common/failure_ext", package = "solana_libra_failure_ext" }
solana_libra_ir_to_bytecode = { path = "ir_to_bytecode" }
solana-libra-stdlib = { path = "../stdlib" }
solana-libra-types = { path = "../../types" }
solana-libra-vm = { path = "../vm" }
structopt = "0.3.2"
serde_json = "1.0.40"

[dev-dependencies]
solana-libra-types = { path = "../../types", features = ["testing"] }
