[package]
name = "solana_libradb"
version = "0.0.0-sol8"
authors = ["Solana Maintainers <maintainers@solana.com>", "Libra Association <opensource@libra.org>"]
repository = "https://github.com/solana-labs/libra"
homepage = "https://solana.com/"
description = "Solana Libra libradb"
license = "Apache-2.0"
publish = false
edition = "2018"

[dependencies]
byteorder = "1.3.2"
itertools = "0.7.3"
lazy_static = "1.2.0"
num-derive = "0.2"
num-traits = "0.2"
proptest = "0.9.2"
proptest-derive = "0.1.2"
rand = "0.4.2"
strum = "0.15.0"
strum_macros = "0.15.0"
tempfile = "3.0.6"

accumulator = { path = "../accumulator", package = "solana_libra_accumulator", version = "0.0.0-sol8" }
canonical_serialization = { path = "../../common/canonical_serialization", package = "solana_libra_canonical_serialization", version = "0.0.0-sol8" }
crypto = { path = "../../crypto/legacy_crypto", package = "solana_libra_crypto", version = "0.0.0-sol8" }
failure = { path = "../../common/failure_ext", package = "solana_libra_failure_ext", version = "0.0.0-sol8" }
logger = { path = "../../common/logger", package = "solana_libra_logger", version = "0.0.0-sol8" }
metrics = { path = "../../common/metrics", package = "solana_libra_metrics", version = "0.0.0-sol8" }
proto_conv = { path = "../../common/proto_conv", package = "solana_libra_proto_conv", version = "0.0.0-sol8" }
schemadb = { path = "../schemadb", package = "solana_libra_schemadb", version = "0.0.0-sol8" }
sparse_merkle = { path = "../sparse_merkle", package = "solana_libra_sparse_merkle", version = "0.0.0-sol8" }
storage_proto = { path = "../storage_proto", package = "solana_libra_storage_proto", version = "0.0.0-sol8" }
types = { path = "../../types", package = "solana_libra_types", version = "0.0.0-sol8" }

[dev-dependencies]
rusty-fork = "0.2.1"
