[package]
name = "solana-libra-libradb"
version = "0.1.0"
authors = ["Libra Association <opensource@libra.org>"]
description = "Libra libradb"
repository = "https://github.com/libra/libra"
homepage = "https://libra.org"
license = "Apache-2.0"
publish = false
edition = "2018"

[dependencies]
arc-swap = "0.4.2"
byteorder = "1.3.2"
itertools = "0.8.0"
lazy_static = "1.2.0"
num-derive = "0.2"
num-traits = "0.2"
proptest = "0.9.2"
proptest-derive = "0.1.2"
prost = "0.5.0"
rand = "0.6.5"
rusty-fork = "0.2.1"
strum = "0.15.0"
strum_macros = "0.15.0"

solana-libra-accumulator = { path = "../accumulator" }
solana_libra_canonical_serialization = { path = "../../common/canonical_serialization" }
solana-libra-crypto = { path = "../../crypto/crypto" }
failure = { path = "../../common/failure_ext", package = "solana_libra_failure_ext" }
solana_libra_jellyfish_merkle = { path = "../jellyfish_merkle" }
solana-libra-logger = { path = "../../common/logger" }
solana-libra-metrics = { path = "../../common/metrics" }
solana-libra-prost-ext = { path = "../../common/prost-ext" }
solana-libra-schemadb = { path = "../schemadb" }
solana_libra_storage_proto = { path = "../storage_proto" }
solana-libra-tools = { path = "../../common/tools" }
solana-libra-types = { path = "../../types" }

[dev-dependencies]
solana_libra_proptest_helpers = { path = "../../common/proptest_helpers" }
solana-libra-types = { path = "../../types", features = ["testing"]}

[features]
default = []
testing = ["solana-libra-types/testing"]
